<div class="grid-container">
    <div id="one" class="grid-item">
        <app-toolbar></app-toolbar>
    </div>
    <app-shopping-cart></app-shopping-cart>
    <app-alert></app-alert>
    <div id="two" class="grid-item">
        <div class="grid-item-two">
            <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua</p>
        </div>
    </div>
    <div id="three" class="grid-item">
        <div class="grid-three-item">
            <div class="upper-infos-grid-three-item">
                <h3>Title</h3>
                <p>Updated N month(s) ago</p>
            </div>
            <div class="image-infos-grid-three-item">
                <div class="img-info-item">
                    <div class="circle-img circle-one">img</div>
                    <div class="img-text">
                        <h4>999K</h4>
                        <p>Lorem</p>
                    </div>
                </div>
                <div class="img-info-item">
                    <div class="circle-img circle-two">img</div>
                    <div class="img-text">
                        <h4>999K</h4>
                        <p>Lorem</p>
                    </div>
                </div>
                <div class="img-info-item">
                    <div class="circle-img circle-three">img</div>
                    <div class="img-text">
                        <h4>999K</h4>
                        <p>Lorem</p>
                    </div>
                </div>
                <div class="img-info-item">
                    <div class="circle-img circle-four">img</div>
                    <div class="img-text">
                        <h4>$999</h4>
                        <p>Lorem</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="four" class="grid-item"></div>
    <div id="five" class="grid-item"></div>
    <div id="six" class="grid-item"></div>
    <div id="seven" class="grid-item centered-text">
        <div class="centered-text">
            I am a text <span>centered!</span>
        </div>
    </div>
    <div id="eight" class="grid-item"></div>
    <div id="nine" class="grid-item"></div>
</div>