.cart-container{
    background-color: var(--foreground);
    box-shadow: 5px 10px 18px var(--background);
    border-radius: 7px;
    width: 500px;
    max-width: 90%;
    height: auto;
    position: absolute;
    z-index: 1;
    top:120px;
    right:200px;
    margin:auto;
  }
  @media(max-width:900px){
    .cart-container{
    top:120px;
    left: 0;
    max-width: 100%;
    }
  }
  .close-active{
      right: 5px;
      top:5px;
      position: absolute;
      color:var(--text)
  }
  .cart-header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #3a4152;
      padding: 20px;
  }
  .cart-header h2{
      font-size: 25px;
      color: var(--text);
      font-weight: 500;
  }
  .items-box{
      color: var(--purple);
      background-color: rgba(49,55,90,255);
      border: none;
      border-radius: 20px;
      padding: 5px 7px;
  }
  .cart-item{
      padding: 20px;
      border-bottom: 1px solid #3a4152;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
  }
   .cart-item:hover{
      background-color: #161D31;
      cursor: pointer;
  } 
  .cart-total{
      padding: 20px;
      display: flex;
  }
  .item-number{
      width: 40%;
      color: var(--text);
      display: flex;
      font-size: 18px;
  }
  .item-counting{
      width: 60%;
      color: var(--text);
      display: flex;
      justify-content: space-between;
  }
  .item-counter{
      border: 1px solid #3a4152;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 140px;
  }
  .item-minus{
      flex: 1;
      padding:10px 10px;
      background-color:inherit;
      border:none;
      border-radius: 10px;
      color: var(--text);
      cursor: pointer;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .item-plus{
      padding:10px 10px;
      flex: 1;
      background-color:inherit;
      border:none;
      border-radius: 10px;
      color: var(--text);
      cursor: pointer;
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .current-item-number{
      padding:10px 10px;
      flex: 1;
      display: flex;
      justify-content: space-between;
      position: relative;
      font-size: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .left-border{
      height: 50%;
      width: 1px;
      background-color: #3a4152;
      display: flex;
      justify-content: center;
      align-items: center;
      left:0;
      position: absolute;
  }
  .right-border{
      height: 50%;
      width: 1px;
      background-color: #3a4152;
      display: flex;
      justify-content: center;
      align-items: center;
      right:0;
      position: absolute;

  }
  .item-price{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
  }
  .cart-total{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  .total-amount{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
  }
  .total-text{
      color:var(--text);
      display: flex;
      font-weight: bold;
      font-size: 20px;
  }
  .total-combined{
      color: var(--purple);
      display: flex;
      font-size: 18px;
  }
  .total-checkput{
      color: var(--text);
      width: 100%;
      padding: 15px;
      background-color: var(--purple);
      border: none;
      border-radius: 5px;
      text-align: center;
      font-size: 20px;
      margin-top: 20px;
      cursor: pointer;
  }
  .num{
      background-color: inherit;
      border: none;
      width: 100%;
      outline: none;
      color:var(--text);
      display: flex;
      justify-content: center;
      text-align: center;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
  input[type=number] {
      -moz-appearance:textfield; /* Firefox */
  }
  .btn-remove-item{
      background-color: transparent;
      border:none;
      color: var(--icons);
      cursor: pointer;
      position: absolute;
      top: 16px;
      right: 17px;
      font-size: 20px;
      font-weight: 700;
  }