<div class="sidebar-container">
    <div class="home-dropdown">
        <div class="home-dropdown">
            <span class="iconify" data-icon="feather:home"></span>
            <p class="home-dropdown-text">Home</p>
        </div>
        <div class="home-dropdown-right">
            <div class="home-dropdown-item-count">2</div>
            <div class="home-dropdown-right-arrow"><span class="iconify" data-icon="akar-icons:chevron-down"></span>
            </div>
        </div>
    </div>
    <div class="categories">
        <div class="category-one">
            <div class="category-text">Category 1</div>
            <ul>
                <li class="sidebar-list-item">
                    <div class="li-left"><span class="iconify icon-list" data-icon="feather:mail"></span>Email</div>
                </li>
                <li class="sidebar-list-item">
                    <div class="li-left"><span class="iconify icon-list" data-icon="feather:message-square"></span>Chat
                    </div>
                </li>
                <li class="sidebar-list-item">
                    <div class="li-left"><span class="iconify icon-list" data-icon="feather:check-square"></span>Todo
                    </div>
                </li>
                <li class="sidebar-list-item">
                    <div class="li-left"><span class="iconify icon-list" data-icon="feather:calendar"></span>Calender
                    </div>
                </li>
                <li class="sidebar-list-item">
                    <div class="li-left"><span class="iconify icon-list"
                            data-icon="feather:shopping-cart"></span>eCommerce</div>
                    <div class="li-right"><span class="iconify" data-icon="ant-design:right-outlined"></span></div>
                </li>
            </ul>
        </div>
        <div class="category-two">
            <div class="category-text">Category 2</div>
            <ul>
                <li class="sidebar-list-item">
                    <div class="li-left"><span class="iconify icon-list" data-icon="feather:type"></span>Typography
                    </div>
                </li>
                <li class="sidebar-list-item">
                    <div class="li-left"><span class="iconify icon-list" data-icon="feather:eye"></span>Feather</div>
                </li>
                <li class="sidebar-list-item">
                    <div class="li-left"><span class="iconify icon-list" data-icon="feather:credit-card"></span>Cards
                    </div>
                    <div class="li-right">
                        <div class="new-li-sidebar">new</div><span class="iconify"
                            data-icon="ant-design:right-outlined"></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>